* {
    box-sizing: border-box;
}

body {
    background-color: rgb(68, 94, 180);
    color: rgb(12, 12, 63);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
}

header {
    width: 300px;
    display: inline-block;
}

h1 {
    text-align: left;   
    color: white; 
    border: 35px solid rgb(24, 24, 70);
    padding: 50px 15px 20px 20px;
    font-size: 60px;
    width: 370px;
    margin: 10px auto 30px 40px;
}

section.instructions {
    display: inline-block;
    width: 700px;
    padding-left: 300px; 
}

.instructions h2 {
    margin-top: 5px;
    font-size: 30px;
    font-style: italic;
}

.instructions ul {
    font-size: 20px;    
}

.instructions label {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    color: rgb(231, 200, 131);
    text-transform: uppercase;
    margin-left: 15px;
}

label:hover {
    cursor: pointer;
}

#win-loss-draw {
    background-color: rgb(216, 149, 5);
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    display: none;
    margin: 0 auto;
    padding: 5px;
}

#submit-button {
    background-color: rgb(216, 149, 5);
    color: rgb(24, 24, 70);
    padding: 15px 25px;
    margin-top: 30px;
    margin-bottom: 25px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 25px;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
}

#submit-button:hover {
    background-color: rgb(28, 19, 75);
    color: rgb(202, 169, 98);
}

#results-box {
    background-color: rgb(231, 200, 131);
    padding: 20px;
    font-size: 20px;
    display: none;
}
img {
    height: 180px;
    border: 10px solid rgb(221, 167, 67);
    vertical-align: middle;
}

.throw-summaries {
    padding-left: 70px;
    padding-right: 20px;
}

#reset-button {
    margin-left: 120px;
    width: 180px;
    height: 180px;
    background-color: rgb(221, 167, 67);
    color: rgb(28, 19, 75);
    border: none;
    cursor: pointer;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

#reset-button:hover {
    background-color: rgb(68, 94, 180);
    color: white;
}

div.win-loss-counts-section {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border: 5px dotted white;
}

.win-loss-counts-section span {
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
}